

header, section, footer, aside, nav, article	{
	display: block;
}

figure, figcaption	{
	display: block;
}

body	{
	background-color: #54ff9f;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1c/Ocean_water_surface_texture_3_-_Martha's_Vineyard.JPG");
	background-position: center;
}

.wrapper	{
	width: 940px;
	margin: 10px auto 10px auto;
	border: 4px solid #6BCAE2;
	background-color: #ff9999;
	font-family:'Almendra SC';
	letter-spacing: 2
	line-height: 0.5;
}

#logoSalmon	{
	float: right;
	margin-right: 20px;
}

header	{
	margin-left: 20px;
}	

h1		{
	line-height: 0.75;
	text-shadow:
	1px		1px		#6BCAE2,
	-1px    -1px    #6BCAE2;
}

aside	{
	border: 4px solid #6BCAE2;
	background-color: #ff9999;
	font-family: 'Dejavu Serif';
	font-size: 14px;
	margin: 10px 20px 10px 0px;
	width: 280px;
	float: left;
}

/*
#ff9999 is salmon pink
#000080 is navy blue

div		{
	background-color: #A5ACAF;	
}

#header		{
	height: auto;	
	width: 90%;
	border: 1px solid orange;
}


#HeaderSalmon-public	{
	vertical-align;
	float: left;
	border: 1px solid orange;
	width: 30%;
}


#frontText-public	{
	font-family:'Almendra SC';
	letter-spacing: 2;
	border: 1px solid red;
	float: right;
	width: 40%;
}

.wrapper		{
	vertical-align;
}

#headline	{
	text-align: center;
	vertical-align;
}

h1,h3	{
	text-align: center;
	font-family:'Almendra SC';
	letter-spacing: 2;
}




#container		{
	ffont-family:'DejaVu';

}

#text	{
	font-family:'DejaVu Sans';
	vertical-align;
	color: #002244;
}


#data	{
	font-family:'DejaVu Serif';
	color: #69BE28;
	vertical-align;
	letter-spacing: 1.5;
	text-shadow:
	-1px	-1px	#002244,
	0px		0px		#002244;

}


*/