

body	{
	background-color: pink;
}

h1,h3	{
	font-family:'Almendra SC';
	letter-spacing: 2;
}

#container		{
	font-family:'DejaVu';
	height: 100%;
	margin-left: 20%;
	margin-right: 20%;
	background-color: #A5ACAF;
}

#text	{
	font-family:'DejaVu Sans';
	vertical-align;
	color: #002244;
}


#data	{
	font-family:'DejaVu Serif';
	color: #69BE28;
	vertical-align;
	letter-spacing: 1.5;
	text-shadow:
	-1px	-1px	#002244,
	0px		0px		#002244;

}

